region = "eu-central"
token  = "<Linode APIv4 token>"
ssh_pubkey_path = "~/.ssh/id_ecdsa.pub"
serverconfig = {
  name        = "server"
  vpn_addr    = "192.168.99.1/24"
  port        = 51820
  private_key = "<server private key>"
  public_key  = "<server public key>"
}
clientconfigs = [
  {
    name        = "james-pc"
    vpn_addr    = "192.168.99.2/32"
    private_key = "<James' pc private key>"
    public_key  = "<James' pc public key>"
  },
  {
    name        = "james-phone"
    vpn_addr    = "192.168.99.3/32"
    private_key = "<James' phone private key>"
    public_key  = "<James' phone public key>"
  }
]
